@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - MAC EXPRESS</title>
    <link rel="stylesheet" href="~/Content/fontawesome-all.min.css">
    <link href="~/Content/Menu/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/SiteLogin.css" rel="stylesheet" />
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Content/bootstrap4.css" />
    @*<link rel="stylesheet" href="~/Content/libro-reclamaciones.css" />*@
    <link href="~/Content/lreclamaciones.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/fuentes/fuentes-personalizadas.css" />

    @*@Styles.Render("~/Content/css")*@
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <header>
        <div class="header__content container">
            <div style="height:67px; padding-top:10px; float:left;">

                <img src="~/Content/svg/escudo-svg.svg" class="logo__escudo" alt="Escudo Peruano">
                <img src="~/Content/svg/logo-gobpe.svg" class="logo__gobpe" alt="gob.pe">
                <div class="texto-logo" style="float:right; font-size:1.1rem; color:white; border-left:1px solid; margin-left:8px;padding-left:8px;">
                  Mejor Atención al Cuidadano<br/>MAC EXPRESS
                </div>
            </div>
           
        </div>
</header>

    <section class="col-sm-12 main-content--oscuro">
        <div class="content-wrapper">
            <div class="container">
                @RenderBody()
            </div>
        </div>
    </section>
    <footer class="text-left" style="padding: .9em;">
        <div class="container info-footer">
            <div class="row mt-2">
                <div class="col-sm-12 col-md-4 mb-4">
                    <a href="https://www.gob.pe/" target="_blank">SOBRE EL ESTADO PERUANO</a>
                </div>
                <div class="col-sm-12 col-md-4">
                    <h6>SÍGUENOS</h6>
                    <ul class="d-flex mb-0">
                        <li class="mr-2"><a href="https://es-la.facebook.com/PCMPERU/" target="_blank"><i class="fab fa-facebook-square footer__icons"></i></a></li>
                        <li class="mr-2"><a href="https://twitter.com/pcmperu" target="_blank"><i class="fab fa-twitter-square footer__icons"></i></a></li>
                        <li class="mr-2"><a href="https://www.instagram.com/pcmperu" target="_blank"><i class="fab fa-instagram footer__icons"></i></a></li>
                        <li class="mr-2"><a href="https://www.youtube.com/user/Audiovisualespcm" target="_blank"><i class="fab fa-youtube-square footer__icons"></i></a></li>
                        <li><a href="https://www.flickr.com/photos/prensapcm" target="_blank"><i class="fab fa-flickr footer__icons"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>


    @RenderSection("Scripts", required: false)

</body>
</html>
